<footer class="footer" *ngIf="mostrarFooter">
  <button class="close-btn" (click)="cerrarFooter()" title="Cerrar esta información">X</button>
  <div class="container">
    <p>&copy; 2025 KeyCloud. Licencia <a routerLink="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative
        Commons</a>.</p>
    <p>
      <a routerLink="/contacto">Contacto</a> |
      <a routerLink="/sobreProyecto">Sobre el proyecto</a> |
      <a routerLink="/inicio">Página princial</a>
    </p>
  </div>
</footer>