<div class="perfil-container">
    <div class="perfil-box">
        <h1 class="header-datos-perfil">Datos del perfil</h1>

        <ul class="datos-list">
            <li class="dato-item">
                <mat-icon class="dato-icon">person</mat-icon>
                <span class="dato-label">Usuario:</span>
                <span class="dato-value" *ngIf="!editandoPerfil">{{usuario.nombreUsuario}}</span>
                <input *ngIf="editandoPerfil" [(ngModel)]="usuario.nombreUsuario" />
            </li>

            <li class="dato-item">
                <mat-icon class="dato-icon">email</mat-icon>
                <span class="dato-label">Email:</span>
                <span class="dato-value" *ngIf="!editandoPerfil">{{usuario.email}}</span>
                <input *ngIf="editandoPerfil" [(ngModel)]="usuario.email" />
            </li>

            <li class="dato-item">
                <mat-icon class="dato-icon">vpn_key</mat-icon>
                <span class="dato-label">Contraseña de inicio de sesión:</span>
                <span class="dato-value" *ngIf="!editandoPerfil">{{usuario.passwd}}</span>
                <input *ngIf="editandoPerfil" [(ngModel)]="usuario.passwd" />
            </li>

            <li class="dato-item">
                <mat-icon class="dato-icon">vpn_key</mat-icon>
                <span class="dato-label">Nueva contraseña de inicio de sesión:</span>
                <span class="dato-value" *ngIf="!editandoPerfil"></span>
                <input *ngIf="editandoPerfil" [(ngModel)]="passwordNueva" />
            </li>

           
           
        </ul>


        <div class="acciones">
            <button class="btn-accion btn-cambiar-pass" (click)="cambiarContrasena()">
                <mat-icon>lock</mat-icon> Cambiar contraseña
            </button>
            <button class="btn-accion btn-editar" (click)="toggleEditarPerfil()">
                <mat-icon>edit</mat-icon> {{editandoPerfil ?  'Guardar Cambios' : 'Editar Perfil'}}
            </button>
        </div>
    </div>
</div>