<div class="perfil-container">
    <div class="perfil-box">
        <h1 class="header-datos-perfil">Datos del perfil</h1>

        <ul class="datos-list">
            <li class="dato-item">
                <mat-icon class="dato-icon">person</mat-icon>
                <span class="dato-label">Usuario:</span>
                <span class="dato-value" *ngIf="!editandoPerfil">{{usuario.nombreUsuario}}</span>
                <input *ngIf="editandoPerfil" [(ngModel)]="usuario.nombreUsuario" />
            </li>

            <li class="dato-item">
                <mat-icon class="dato-icon">email</mat-icon>
                <span class="dato-label">Email:</span>
                <span class="dato-value" *ngIf="!editandoPerfil">{{usuario.email}}</span>
                <input *ngIf="editandoPerfil" [(ngModel)]="usuario.email" />
            </li>

        <li class="dato-item">
            <mat-icon class="dato-icon">lock</mat-icon>
            <span class="dato-label">Contraseña de inicio de sesión:</span>
            <span class="dato-value" *ngIf="!editandoPerfil">••••••••</span>
            <input *ngIf="editandoPerfil" [(ngModel)]="passwordActual" placeholder="Ingrese su contraseña" 
                value="" />
        </li>

            <li class="dato-item">
                <mat-icon class="dato-icon">lock</mat-icon>
                <span class="dato-label">Nueva contraseña de inicio de sesión:</span>
                <span class="dato-value" *ngIf="!editandoPerfil"></span>
                <input *ngIf="editandoPerfil" [(ngModel)]="passwordNueva" placeholder="Ingrese nueva contraseña"  />
            </li>

           
           
        </ul>


        <div class="acciones">
           
            <button class="btn-accion btn-editar" (click)="toggleEditarPerfil()">
                <mat-icon>edit</mat-icon> {{editandoPerfil ?  'Guardar Cambios' : 'Editar Perfil'}}
            </button>
        </div>
    </div>
</div>