<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>KeyCloud - Gestor Seguro de Contraseñas</h1>
      <p>KeyCloud es una aplicación web desarrollada en Angular 16 que permite gestionar contraseñas de forma segura.
        La API y la base de datos operan como un microservicio, garantizando una arquitectura flexible y escalable.</p>

      <h2>Características Principales</h2>
      <ul>
        <li>CRUD completo de contraseñas (Crear, Leer, Actualizar y Eliminar).</li>
        <li>Almacenamiento seguro con cifrado de contraseñas en la base de datos y en las transferencias.</li>
        <li>Autenticación de usuarios con gestión de acceso personalizado.</li>
        <li>Generación automática de contraseñas seguras.</li>
        <li>Indicador visual de fortaleza de contraseñas.</li>
        <li>Marcado de contraseñas próximas a caducar.</li>
        <li>Opción para copiar contraseñas al portapapeles con un doble clic.</li>
      </ul>

      <h2>Código Fuente</h2>
      <p>El código fuente de este proyecto está disponible en GitHub:</p>
      <ul>
        <li><a href="https://github.com/AdrianMartinCano/keycloud-front" target="_blank">Repositorio del Frontend</a>
        </li>
        <li><a href="https://github.com/AdrianMartinCano/keycloud" target="_blank">Repositorio del Backend</a></li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>