<div class="container">
    <mat-card>
      <mat-card-content>
        Esto es un proyecto creado en Angular 16 para aprender a utilizar el framework. El proyecto consiste en una
        aplicación web que permite almacenar contraseñas de forma segura. Para ello, se utiliza una base de datos en la nube.
  
        <h2>Funcionalidades</h2>
        <ul>
          <li>Crear contraseñas</li>
          <li>Modificar contraseñas</li>
          <li>Borrar contraseñas</li>
          <li>Visualizar contraseñas</li>
          <li>Copiar contraseñas al portapapeles</li>
          <li>Autenticación de usuarios</li>
        </ul>
        <h2>Código fuente</h2>
        <p>El código fuente de este proyecto se encuentra en mi cuenta de GitHub. Aquí se encuentra
          <a href="https://github.com/AdrianMartinCano/gestorContrasenas" target="_blank">el frontend</a>
          y aquí se encuentra <a href="https://github.com/AdrianMartinCano/gestorContrasenasBack" target="_blank"> el backend</a>.
        </p>
      </mat-card-content>
    </mat-card>
  </div>