.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  #idusuario {
    margin-top: 20px;
  }

  .action-button {
    margin-right: 8px; /* Ajusta el valor según el espacio que desees */
  }