<div class="auth-container">
  <div class="auth-box">
    <!-- Panel deslizante -->
    <div class="sliding-panel" [@slidePanel]="isLoginActive ? 'login' : 'register'">
      <div class="panel-content">
        <h3>{{ isLoginActive ? '¿Eres nuevo?' : '¡Bienvenido de vuelta!' }}</h3>
        <p>
          {{ isLoginActive ?
             'Regístrate y comienza a gestionar tus contraseñas de forma segura' :
             'Inicia sesión para acceder a tus contraseñas guardadas'
           }}
        </p>
        <button (click)="toggleForm()">
          {{ isLoginActive ? 'Crear cuenta' : 'Iniciar sesión' }}
        </button>
      </div>
    </div>

    <!-- Formularios -->
    <div class="forms-container">
      <!-- Login -->
      <form [class.active]="isLoginActive" class="form login-form" (ngSubmit)="onSubmit($event)">
        <h2>Iniciar Sesión</h2>
        <div class="form-group">
          <input 
            type="email" 
            placeholder="Nombre de usuario" 
            [(ngModel)]="loginData.nombreUsuario" 
            name="nombreUsuario" 
            #usernameInput
          />
        </div>
        <div class="form-group">
          <input 
            type="password" 
            placeholder="Contraseña" 
            [(ngModel)]="loginData.passwd" 
            name="password" 
            #passwordInput
          />
        </div>
        <button type="submit">Entrar</button>
        <p class="forgot-password">¿Olvidaste tu contraseña?</p>
      </form>

      <!-- Registrar -->
      <form [class.active]="!isLoginActive" class="form register-form" (ngSubmit)="onSubmit($event)">
        <h2>Crear Cuenta</h2>
        <div class="form-group">
          <input 
            type="text" 
            placeholder="Nombre de usuario" 
            [(ngModel)]="registerData.nombreUsuario" 
            name="nombreUsuario" 
            #usernameRegister
          />
        </div>
        <div class="form-group">
          <input 
            type="email" 
            placeholder="Email" 
            [(ngModel)]="registerData.email" 
            name="email" 
            #emailRegister
          />
        </div>
        <div class="form-group">
          <input 
            type="password" 
            placeholder="Contraseña" 
            [(ngModel)]="registerData.passwd" 
            name="password" 
            #passwordRegister
          />
        </div>
        <div class="form-group">
          <input 
            type="password" 
            placeholder="Confirmar contraseña" 
            [(ngModel)]="registerData.confirmPasswd"
            name="confirmPassword"
            #passwordRepeatRegister
          />
        </div>
        <button type="submit">{{ isLoginActive ? 'Iniciar Sesión' : 'Registrarse' }}</button>
      </form>
    </div>
  </div>
</div>