.restuarar-container {
    display: flex;
    justify-content: center;
    min-height: calc(75vh - 64px);
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: -50px;
}

.restuarar-box {
    width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

.header-datos-restuarar {
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #6c63ff;
}

.datos-list {
    list-style-type: none;
    padding: 0;
}

.dato-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}




.dato-icon {
    color: #6c63ff;
    margin-right: 15px;
}

.dato-label {
    font-weight: bold;
    color: #666;
    width: 180px;
}

.dato-value {
    color: #333;
    flex: 1;
}

.restaurar-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.btn-accion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.btn-accion mat-icon {
    margin-right: 5px;
}

.btn-accion:hover {
    background-color: #3e3a99;
}

input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}