  <mat-toolbar *ngIf="authService.isLoggedIn()" class="custom-toolbar">
    <div class="logo">
      <a routerLink="/inicio">
        <img src="assets/images/logo.png" alt="Logo" width="40" height="40" />
      </a>
    </div>

    <span class="logo-spacer"></span>
    
    <div class="circle" [matMenuTriggerFor]="menu">
      <span>{{ authService.getUsername()[0].toUpperCase() }}</span>
    </div>
  </mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToPassWordList()">
    <mat-icon>list</mat-icon>
    Lista Contraseñas
  </button>
  <button mat-menu-item (click)="goToProfile()">
    <mat-icon>person</mat-icon>
    Perfil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>